In [59]:
years = list(range(1980,2023))

In [17]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [47]:
import requests
# for year in years:
#     url = url_start.format(year)
#     data = requests.get(url)
    
#     with open("roty/{}.html".format(year),"w+", encoding="utf-8") as f:
#         f.write(data.text)

In [19]:
from bs4 import BeautifulSoup

In [20]:
with open("roty/2017.html", encoding="utf-8") as f:
    page = f.read()

In [21]:
soup = BeautifulSoup(page, "html.parser")

In [22]:
print(soup.find('tr', class_="over_header").decompose())

None

In [23]:
roty_table = soup.find_all(id="roy")

In [24]:
import lxml

In [25]:
import pandas as pd

roty_1991 = pd.read_html(str(roty_table))[0]
roty_1991

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Rank             Player                Age                 Tm
0                  1    Malcolm Brogdon                 24                MIL
1                  2        Dario Šarić                 22                PHI
2                  3        Joel Embiid                 22                PHI
3                  4        Buddy Hield                 24                TOT
4                 5T  Willy Hernangómez                 22                NYK
5                 5T       Jamal Murray                 19                DEN
6                  7    Marquese Chriss                 19                PHO
7                 8T       Jaylen Brown                 20                BOS
8                 8T       Yogi Ferrell                 23                TOT
9                 8T    Rodney McGruder                 25                MIA

  Voting                        Unnamed: 8_level_0 Per Game                  \
   First Pts Won Pts Max  Share                  G       MP   PTS  TRB  AST
0   64.0   414.0     500  0.828                 75     26.4  10.2  2.8  4.2
1   13.0   266.0     500  0.532                 81     26.3  12.8  6.3  2.2
2   23.0   177.0     500  0.354                 31     25.4  20.2  7.8  2.1
3    0.0    21.0     500  0.042                 82     23.0  10.6  3.3  1.5
4    0.0     8.0     500  0.016                 72     18.4   8.2  7.0  1.3
5    0.0     8.0     500  0.016                 82     21.5   9.9  2.6  2.1
6    0.0     3.0     500  0.006                 82     21.3   9.2  4.2  0.7
7    0.0     1.0     500  0.002                 78     17.2   6.6  2.8  0.8
8    0.0     1.0     500  0.002                 46     26.0  10.0  2.4  3.7
9    0.0     1.0     500  0.002                 78     25.2   6.4  3.3  1.6

            Shooting               Advanced
   STL  BLK      FG%    3P%    FT%       WS  WS/48
0  1.1  0.2    0.457  0.404  0.865      4.1  0.100
1  0.7  0.4    0.411  0.311  0.782      1.0  0.023
2  0.9  2.5    0.466  0.367  0.783      1.9  0.117
3  0.5  0.1    0.426  0.391  0.842      1.3  0.032
4  0.6  0.5    0.529  0.267  0.728      3.4  0.123
5  0.6  0.3    0.404  0.334  0.883      1.3  0.037
6  0.8  0.9    0.449  0.321  0.624      1.8  0.050
7  0.4  0.2    0.454  0.341  0.685      1.5  0.053
8  0.9  0.2    0.406  0.386  0.831      1.8  0.072
9  0.6  0.2    0.413  0.332  0.620      2.9  0.072

In [37]:
dfs = []
for year in years:
    with open("roty/{}.html".format(str(year)), encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="over_header").decompose()
    roty_table = soup.find_all(id="roy")
    roty = pd.read_html(str(roty_table), header= 1)[0]
    roty["Year"] = year
    dfs.append(roty)
    
print(len(dfs))

43

In [38]:
rotys = pd.concat(dfs)
rotys.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Larry Bird,23,BOS,63.0,63.0,66,0.955,82,36.0,...,10.4,4.5,1.7,0.6,0.474,0.406,0.836,11.2,0.182,1980
1,2,Magic Johnson,20,LAL,3.0,3.0,66,0.045,77,36.3,...,7.7,7.3,2.4,0.5,0.530,0.226,0.810,10.5,0.180,1980
0,1,Darrell Griffith,22,UTA,19.0,19.0,69,0.275,81,35.4,...,3.6,2.4,1.3,0.5,0.464,0.192,0.716,0.4,0.006,1981
1,2,Kelvin Ransey,22,POR,18.0,18.0,69,0.261,80,30.4,...,2.4,6.9,1.1,0.1,0.452,0.097,0.749,2.8,0.056,1981
2,3,Larry Smith,23,GSW,14.0,14.0,69,0.203,82,31.4,...,12.1,1.1,0.9,0.8,0.512,NaN,0.588,6.1,0.113,1981

In [41]:
rotys.to_csv("rotys.csv")

In [54]:
# player_url = "https://www.basketball-reference.com/leagues/NBA_{}_rookies-season-stats.html"

# for year in years:
#     url = player_url.format(year)
#     data = requests.get(url)
        
#     with open("players/{}.html".format(year),"w+", encoding="utf-8") as f:
#         f.write(data.text)

In [65]:
df = []

for year in years:
    with open("players/{}.html".format(year),encoding="utf-8") as f:
        page = f.read()
        
    soup = BeautifulSoup(page, "html.parser")
    element = soup.find_all('tr', class_="over_header")
    for i in element:
        i.decompose()
    element = soup.find_all('tr', class_="thead")
    for i in element:
        i.decompose()
    player_table = soup.find_all(id="rookies")
    player = pd.read_html(str(player_table))[0]
    player["Year"] = year
    df.append(player)

In [66]:
players = pd.concat(df)
players

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,Year
0,1,James Bailey,"Oct 14, '79, SEA @ SDC",22,1,67,726,122,271,0,...,116,312,0.450,NaN,0.673,10.8,4.7,2.9,0.4,1980
1,2,Billy Ray Bates,"Feb 23, '80, POR @ DET",23,1,16,235,72,146,8,...,26,180,0.493,0.421,0.718,14.7,11.3,1.8,1.9,1980
2,3,Larry Bird*,"Oct 12, '79, BOS vs. HOU",23,1,82,2955,693,1463,58,...,279,1745,0.474,0.406,0.836,36.0,21.3,10.4,4.5,1980
3,4,Lawrence Boston,"Mar 2, '80, WSB vs. IND",23,1,13,125,24,52,0,...,25,56,0.462,NaN,0.615,9.6,4.3,3.0,0.2,1980
4,5,Dudley Bradley,"Oct 12, '79, IND @ DET",22,1,82,2027,275,609,2,...,194,688,0.452,0.400,0.782,24.7,8.4,2.7,3.1,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,122,Ziaire Williams,"Oct 20, '21, MEM vs. CLE",20,1,62,1346,191,424,76,...,113,501,0.450,0.314,0.782,21.7,8.1,2.1,1.0,2022
122,123,McKinley Wright IV,"Oct 20, '21, MIN vs. HOU",23,1,5,19,2,3,1,...,1,5,0.667,0.500,NaN,3.8,1.0,0.0,0.6,2022
123,124,Moses Wright,"Dec 22, '21, LAC @ SAC",23,1,4,14,1,4,0,...,0,5,0.250,0.000,1.000,3.5,1.3,0.8,0.5,2022
124,125,Gabe York,"Apr 9, '22, IND @ PHI",28,1,2,21,2,7,1,...,4,8,0.286,0.167,0.600,10.5,4.0,1.0,2.0,2022
125,126,Omer Yurtseven,"Oct 21, '21, MIA vs. MIL",23,1,56,706,130,247,1,...,84,299,0.526,0.091,0.623,12.6,5.3,5.3,0.9,2022

In [67]:
players.to_csv("players.csv")